@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-white: 255, 255, 255;
}

@layer base {
	body {
		@apply m-0 p-0;
	}

	main {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
