@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

:root {
	--color-white: 255, 255, 255;
}

@layer base {
	* {
		box-sizing: border-box;
	}

	body {
		@apply m-0 p-0;
	}

	section {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	h1 {
		font-family: 'Bellefair', serif;
		font-weight: 400;
		font-style: normal;
	}
}

@layer components {
	.shell {
		@apply w-full max-w-[1440px] h-full mx-auto;
	}

	.header::before {
		content: '';
		width: 53%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.014);
		backdrop-filter: blur(30px);
		z-index: -1;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
